<html ng-app="mainModule" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Record Trip</title>

    <!-- Bootstrap -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/components/bootstrap-material-design/dist/css/material-fullpalette.min.css" rel="stylesheet" />
    <link href="/components/bootstrap-material-design/dist/css/roboto.min.css" rel="stylesheet" />
    <link href="/components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="/components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="/components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/common.js"></script>

    <script th:inline="javascript">
        $.material.init();
        var pageData_trips = [[${trips}]];
    </script>


</head>
<body>
<!--main page || <span th:text="${session.auth.name}">hgd</span> login...-->
<!-- NAVI -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Brand</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="javascript:void(0)">Active</a></li>
            <li><a href="javascript:void(0)">Link</a></li>
            <li class="dropdown">
                <a href="http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                    <li><a href="javascript:void(0)">One more separated link</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search" />
        </form>
        <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="javascript:void(0)">Link</a></li>-->
            <li class="dropdown">
                <a data-target="#" class="dropdown-toggle" data-toggle="dropdown"> <span th:text="${session.auth.name}"></span><b class='caret'></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">내정보</a></li>
                    <li><a href="javascript:void(0)">로그아웃</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- NAVI -->

<div ng-controller="mainCtrl" style="padding: 10px;">
    <!-- trip -->
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="Name" class="col-xs-1 control-label">이름</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="Name" placeholder="이름" ng-model="trip.name" />
                </div>
            </div>
            <div class="form-group">
                <label for="desc" class="col-xs-1 control-label">설명</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="desc" ng-model="trip.desc" placeholder="설명" /> <br />
                    <div class="togglebutton">
                        <label>
                            <input type="checkbox" checked="" ng-model="trip.published" /> 공개여부 <span class="toggle"></span>
                        </label>
                    </div>
                </div>
            </div>

            <!-- scenes -->
            <div class="form-group">
                <label class="col-xs-1 control-label"></label>
                <a href="javascript:void(0)" ng-click="addScene()" class="btn btn-success">장면 추가</a><br />
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-xs-offset-1 row" ng-repeat="scenePage in trip.scenePages">
                    <div class="col-lg-6 bs-component" ng-repeat="scene in scenePage track by $index">
                        <div class="well">
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-11">
                                    <input class="form-control floating-label" id="focusedInput" type="text" ng-model="scene.desc" placeholder="제목" />
                                </div>
                                <div class="col-md-1" style="padding-right: 15px">
                                    <i ng-click="removeScene(scene)" class="icon-preview mdi-content-clear"></i>
                                </div>
                            </div>
                            <!-- 업로드전 -->
                            <div ng-if="!scene.picturePath">
                                <input type="file" nv-file-select="" options="scene" uploader="uploader" />
                                <br />
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" ng-style="scene.uploadProgress"></div>
                                </div>

                                <span ng-bind="scene.uploadPercent"></span>
                            </div>
                            <!-- 업로드후 -->
                            <div ng-if="scene.picturePath">
                                <img ng-src="{{scene.picturePath}}" style="width: 100%" />
                                <p>
                                    <ul>
                                        <li>Latitude : {{scene.pictureLatitude}}</li>
                                        <li>Longitude : {{scene.pictureLongitude}}</li>
                                        <li>Width : {{scene.pictureWidth}}</li>
                                        <li>Height : {{scene.pictureHeight}}</li>
                                        <li>Time : {{scene.pictureTime}}</li>
                                    </ul>
                                </p>

                                <button type="button" class="btn btn-default" ng-click="scene.metaViewFlag = !scene.metaViewFlag">
                                    View All Meta Tag
                                </button>
                                <div class="alert alert-dismissable alert-danger" ng-show="scene.metaViewFlag">
                                    <button type="button" class="close" ng-click="scene.metaViewFlag = !scene.metaViewFlag">×</button>
                                    <ul>
                                        <li ng-repeat="metaTag in scene.metaTags">{{'['+metaTag.directoryName+']'+metaTag.tagType+':'+metaTag.tagName+":"+metaTag.description}}</li>
                                    </ul>
                                </div>
                                <!--<p>-->
                                    <!--<ul>-->
                                        <!--<li ng-repeat="metaTag in scene.metaTags">{{'['+metaTag.directoryName+']'+metaTag.tagType+':'+metaTag.tagName+":"+metaTag.description}}</li>-->
                                    <!--</ul>-->
                                <!--</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- scenes -->

            <div class="form-group">
                <div class="col-lg-10 col-xs-offset-1">
                    <button ng-click="cleanTrip()" class="btn btn-default">Cancel</button>
                    <button ng-click="saveTrip()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
    <!-- trip -->
    <!--<button ng-click="saveTrip()">Save</button><button ng-if="trip.id" ng-click="removeTrip()">Remove</button>-->

    <!-- List -->
    <!--<h3>MyTrip List</h3>-->
    <!--<hr />-->
    <!--<div ng-repeat="trip in trips">-->
        <!--<span ng-bind="trip.name"></span><button ng-click="detail(trip)">detail</button>-->
    <!--</div>-->

</div>
</body>
</html>