<html ng-app="mainModule" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>MyCMS</title>

    <!-- Bootstrap -->
    <!--<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />-->
    <link th:src="@{/components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script th:inline="javascript">
        var pageData_trips = [[${trips}]];
        console.log(pageData_trips);
    </script>
</head>
<body>
main page || <span th:text="${session.auth.name}">hgd</span> login...
<div ng-controller="mainCtrl">
    <!-- save Layer -->
    <button ng-click="isOpenAddLayer = !isOpenAddLayer">
        <span ng-if="!isOpenAddLayer">Open</span>
        <span ng-if="isOpenAddLayer">Close</span>
    </button>
    <div ng-if="isOpenAddLayer">
        <!-- trip -->
        <label for="name">Name : </label><input type="text" ng-model="trip.name" id="name"/> <br />
        <label for="desc">Description : </label><input type="text" ng-model="trip.desc" id="desc"/> <br />
        <label for="published">Description : </label><input type="checkbox" ng-model="trip.published" id="published"/><br />
        <!-- trip -->

        <!-- scenes -->
        <hr />
            <button ng-click="addScene()">Add Scene</button><br />
            <div ng-repeat="scene in trip.scenes">
                <input type="text" ng-model="scene.desc" />
                <input type="file" nv-file-select="" uploader="uploader" />
            </div>
        <hr />
        <!-- scenes -->

        <button ng-click="saveTrip()">Save</button><button ng-if="trip.id" ng-click="removeTrip()">Remove</button>
    </div>
    <!-- save Layer -->

    <!-- List -->
    <h3>MyTrip List</h3>
    <hr />
    <div ng-repeat="trip in trips">
        <span ng-bind="trip.name"></span><button ng-click="detail(trip)">detail</button>

    </div>

</div>

<script th:src="@{/components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/components/angular/angular.min.js}"></script>
<script th:src="@{/components/angular-file-upload/dist/angular-file-upload.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/common.js}"></script>
</body>
</html>